.memory-manager {
  position: relative;
  display: inline-block;
  color: #999;
  background-color: #fff;
}
.memory-manager .header {
  height: 40px;
  line-height: 40px;
}
.memory-manager .legend {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.memory-manager .legend::before {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  content: '';
}
.memory-manager .legend.free::before {
  background: #cdcdcd;
}
.memory-manager .legend.used::before {
  background: #4caf50;
}
.memory-manager .content {
  padding: 0 24px 24px 0;
  border: 1px solid #e8e8e8;
}
.memory-manager .coordinate {
  max-height: 256px;
  overflow: auto;
}
.memory-manager .matrix {
  flex-wrap: wrap;
  box-sizing: content-box;
  width: 256px;
}
.memory-manager .matrix-row {
  display: flex;
  flex-direction: row-reverse;
  height: 32px;
}
.memory-manager .bit-axis {
  display: inline-flex;
  width: 256px;
}
.memory-manager .byte-axis {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.memory-manager .corner {
  position: relative;
  display: inline-flex;
  width: 24px;
  height: 24px;
  margin: 4px;
  font-size: 12px;
  line-height: 12px;
}
.memory-manager .corner .bit-label {
  position: absolute;
  top: 6px;
  right: -12px;
}
.memory-manager .corner .byte-label {
  position: absolute;
  top: 8px;
  left: 6px;
  width: 12px;
}
.memory-manager .cell {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin: 4px;
  color: #fff;
  cursor: pointer;
}
.memory-manager .cell.free {
  background: #cdcdcd;
}
.memory-manager .cell.used {
  background: #4caf50;
}
.memory-manager .cell.highlight {
  background: #fde047;
}
.memory-manager .cell.disabled {
  background: linear-gradient(
    45deg,
    transparent 49.5%,
    #cdcdcd 50.5%,
    #cdcdcd 50.5%,
    transparent 50.5%
  );
  border: 1px solid #cdcdcd;
}
.memory-manager .axis {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin: 4px;
}
.memory-manager .toast {
  position: absolute;
  top: 50%;
  width: 312px;
  text-align: center;
}
